<!-- <% user.forEach((row, index) => { %>
    <tr class='align-middle'>
        <td style="color: black;"><%= index+1 %></td>
        <td style="color: black;"><%= row.username %></td>
        <td style="color: black;"><%= row.email %></td>
        <td>
            <% if (row.isblocked) { %>
                User is blocked, show unblock button -->
            
    
                  <form method="post" action="/admin/unblock/<%= row._id %>">
                    <button type="submit" class="btn btn-success">Unblock</button>
                  </form>
              <% } else { %>
                <!-- User is not blocked, show block button -->
                <form method="post" action="/admin/block/<%= row._id %>">
                    <button type="submit" class="btn btn-danger">Block</button>
                  </form>
               
           
              <% } %>
              
        </td>
    </tr>
    <% }) %>



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Your Cart - Your E-Commerce Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        body {
            background-image: url('https://th.bing.com/th/id/R.0b3441917b0cb5bb8120f88b444621de?rik=dmPsLnjHlUWxiA&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f9%2f0%2f4%2f589375.jpg&ehk=ErYzeUkvRrV7Ubd6ox5Aj7z5dtjmvGLIxLqkA%2fyjO04%3d&risl=&pid=ImgRaw&r=0');
            /* Replace 'path-to-your-background-image.jpg' with the actual path to your image */
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }
    </style>
</head>

<body>
    <header>
    </header>
    <div class="container mt-5">
        <h1 class="mb-4">Your Shopping Cart</h1>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Image</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% let total=0 %>
                    <% for (const item of cart.items) { %>
                        <tr>

                            <td>
                                <h4>
                                   <% let product=products.find((ele)=>ele._id.equals(item.product)) %> <%= product.productname%>
                                </h4>
                            </td>
                            <td>
                                <% let image=products.find((ele)=>ele._id.equals(item.product))%>
                                    <img src="<%=image.productimage[0]%>" alt="Product Image"
                                        style="width: 100px; height: 100px;" />
                            </td>
                            <td>
                                <% singleprice=item.single_product_total_price / item.quantity %>
                                    <%= singleprice %>
                            </td>
                            <td class="">
                                <div class="d-flex">
                                    <div class="minus plus-minus" data-item-id="<%=item.product%>">
                                        <svg width="12" height="4" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <defs>
                                                <path
                                                    d="M11.357 3.332A.641.641 0 0 0 12 2.69V.643A.641.641 0 0 0 11.357 0H.643A.641.641 0 0 0 0 .643v2.046c0 .357.287.643.643.643h10.714Z"
                                                    id="a" />
                                            </defs>
                                            <use fill="#FF7E1B" fill-rule="nonzero" xlink:href="#a" />
                                        </svg>
                                    </div>
                                    <span id="" data-item-id="<%=item.product %>" class="amount">
                                        <%= item.quantity %>
                                    </span>
                                    <div class="plus plus-minus" data-item-id="<%=item.product%>">
                                        <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" id="plus">
                                            <defs>
                                                <path
                                                    d="M12 7.023V4.977a.641.641 0 0 0-.643-.643h-3.69V.643A.641.641 0 0 0 7.022 0H4.977a.641.641 0 0 0-.643.643v3.69H.643A.641.641 0 0 0 0 4.978v2.046c0 .356.287.643.643.643h3.69v3.691c0 .356.288.643.644.643h2.046a.641.641 0 0 0 .643-.643v-3.69h3.691A.641.641 0 0 0 12 7.022Z"
                                                    id="b" />
                                            </defs>
                                            <use fill="#FF7E1B" fill-rule="nonzero" xlink:href="#b" id="plus" />
                                        </svg>
                                    </div>
                                </div>
                            </td>
                            <!-- <td>
                                <input type="number" value="" class="form-control">
                            </td> -->
                            <td>₹<%= item.single_product_total_price %>
                            </td>
                            <td>
                                <button class="btn btn-danger">Remove</button>
                            </td>
                        </tr>
                        <%  total+= item.single_product_total_price %>  
                        <% } %>


                </tbody>

            </table>
        </div>
        <div class="row justify-content-end">
            <div class="col-md-4">
                <h4>Total: ₹<%=total.toFixed(2) %>
                </h4>
                <button class="btn btn-success btn-block mt-3">Checkout</button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <a href="shop.html" class="btn btn-primary">Continue Shopping</a>
                <button class="btn btn-info">Update Cart</button>
            </div>
        </div>
    </div>

    <footer>
        <!-- Include your website's footer here -->
    </footer>

    <!-- item amount toggle  -->
    <script>
        let pluses = document.getElementsByClassName("plus");
        let minuses = document.getElementsByClassName("minus");
        let amounts = document.getElementsByClassName("amount");

        for (let i = 0; i < pluses.length; i++) {
            pluses[i].addEventListener("click", function () {
                amounts[i].innerHTML = parseInt(amounts[i].innerHTML) + 1;

                let itemId = this.dataset.itemId;

                let newAmount = parseInt(amounts[i].innerHTML);

                // Send the updated amount to the server
                fetch('/updateCart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ itemId: itemId, amount: newAmount }),
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success:', data);
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
                window.location.reload()


            });

            minuses[i].addEventListener("click", function () {

                if (parseInt(amounts[i].innerHTML) >= 0) {
                    amounts[i].innerHTML = parseInt(amounts[i].innerHTML) - 1;

                    let itemId = this.dataset.itemId;
                    let newAmount = parseInt(amounts[i].innerHTML);
                    // chek if its less than 0
                    if (newAmount <= 0) {
                        window.location.href = `/removeProduct/${itemId}`
                    } else {
                        // Send the updated amount to the server
                        fetch('/updateCart', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({ itemId: itemId, amount: newAmount }),
                        })
                            .then(response => response.json())
                            .then(data => {
                                console.log('Success:', data);
                            })
                            .catch((error) => {
                                console.error('Error:', error);
                            });
                        window.location.reload()

                    }
                }
            });
        }

    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
    </script>
</body>

</html>

<script>
    const productaddtocart = async (req, res) => {
    const userid = req.session.user;
    const productId = req.params.productId;

    try {
        const isuser = await collection1.findOne({ _id: userid });
        const isproduct = await productcollection.findById(productId);
        const iscart = await cartcollection.findOne({ userId: isuser._id });

        if (!iscart) {
            const addtocart = new cartcollection({
                userId: isuser._id,
                items: [{
                    product: isproduct._id,
                    quantity: 1,
                    single_product_total_price: isproduct.productprice,
                }],
                total: isproduct.productprice,
                totalQuantity: 1,
            });

            await addtocart.save();
        } else {
            const isProductInCart = iscart.items.find(
                item => item.product.toString() === productId
            );

            if (isProductInCart) {
                isProductInCart.quantity += 1;
                isProductInCart.single_product_total_price += isproduct.productprice;
            } else {
                iscart.items.push({
                    product: isproduct._id,
                    quantity: 1,
                    single_product_total_price: isproduct.productprice,
                });
            }

            iscart.total += isproduct.productprice;
            iscart.totalQuantity += 1;

            await iscart.save();
        }

        res.redirect('back');

    } catch (error) {
        console.log("carterror", error);
    }
}

const cart = async (req, res) => {
    if (req.session.user) { 
        const cartData = await cartcollection.findOne({userId:req.session.user}); // Replace this with your actual function to fetch cart data
        const productData = await productcollection.find({}); 
        // Fetch product data
        console.log(`helloo thuis usi caretjk ${productData}`);
        res.render('cart', { cart: cartData, products:productData}); 
    } else {
        res.render('home');
    }
}
const updateCart=async (req,res)=>{
    let {itemId,amount}=req.body
    let userId=req.session.user
    try {
        const cart = await cartcollection.findOne({ userId });

        if (!cart) {
            return res.json({ success: false, message: 'Cart not found' });
        }

        const itemToUpdate = cart.items.find(item => item.product.toString() === itemId);

        if (!itemToUpdate) {
            return res.json({ success: false, message: 'Item not found in the cart' });
        }

        itemToUpdate.quantity = amount;
        // console.log(typeof(itemToUpdate.product.productPrice));
        let products=await Productcollection.findById(itemId)
        itemToUpdate.single_product_total_price=amount * products.productprice;

        // Update the total, totalQuantity, or any other relevant fields in the cart if needed
        // cart.total = 
        // cart.totalQuantity = ...
        // ...

        await cart.save(); // Save the updated cart

        res.json({ success: true, message: 'Item quantity updated in the cart', cart });
    } catch (error) {
        console.error(error);
        res.status(500).json({ success: false, message: 'Internal Server Error' });
    }
}
</script>
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////

<script>
const mongoose = require('mongoose');

const CartSchema = new mongoose.Schema({
  userId: {
    type: mongoose.Schema.Types.ObjectId,
    ref: 'Collection1',
    required: true,
  },
  items: [
    {
      product: {
        type: mongoose.Schema.Types.ObjectId,
        ref: 'Productcollection',
        required: true,
      },
      productName: String, // Add this field for product name
      quantity: {
        type: Number,
        required: true,
        default: 1,
      },
      single_product_total_price: {
        type: Number,
        // required: true,
        default: 0,
      },
    },
  ],
  discount: {
    type: Number,
    default: 0,
  },
  total: {
    type: Number,
    default: 0,
  },
  totalQuantity: {
    type: Number,
    default: 0,
  },

  createdAt: {
    type: Date,
    default: Date.now,
  },
});

const Cart = mongoose.model('Cart', CartSchema);

module.exports = Cart;


</script>


















<div class="">
    <select style="width: 100px;" class="form-select me-4">
      <option><%= item.quantity %></option>
      <!-- Other quantity options can be added here -->
    </select>
  </div>







  my cart///////////////////////

  <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/cart.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
	




<header>
	<!-- Jumbotron -->
	<div class="p-3 text-center bg-white border-bottom">
	  <div class="container">
		<div class="row gy-3">
		  <!-- Left elements -->
		  <div class="col-lg-2 col-sm-4 col-4">
			<h1>WatchBox</h1>
			<!-- <a href="https://mdbootstrap.com/" target="_blank" class="float-start">
			  <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="35" />
			</a> -->
		  </div>
		  <!-- Left elements -->
  
		  <!-- Center elements -->
		  <div class="order-lg-last col-lg-5 col-sm-8 col-8">
			<div class="d-flex float-end">
			  <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center" target="_blank">
				<i class="fas fa-user-alt m-1 me-md-2"></i>
				<p class="d-none d-md-block mb-0">Sign in</p>
			  </a>
			  <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center" target="_blank">
				<i class="fas fa-heart m-1 me-md-2"></i>
				<p class="d-none d-md-block mb-0">Wishlist</p>
			  </a>
			  <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="border rounded py-1 px-3 nav-link d-flex align-items-center" target="_blank">
				<i class="fas fa-shopping-cart m-1 me-md-2"></i>
				<p class="d-none d-md-block mb-0">My cart</p>
			  </a>
			</div>
		  </div>
		  <!-- Center elements -->
  
		  <!-- Right elements -->
		  <div class="col-lg-5 col-md-12 col-12">
			<div class="input-group float-center">
			  <div class="form-outline">
				<input type="search" id="form1" class="form-control" />
				<label class="form-label" for="form1">Search</label>
			  </div>
			  <button type="button" class="btn btn-primary shadow" style="height: 40px;">
				<i class="fas fa-search"></i>
			  </button>
			</div>
		  </div>
		  <!-- Right elements -->
		</div>
	  </div>
	</div>
	<!-- Jumbotron -->
  
	<!-- Heading -->
	<div class="bg-primary">
	  <div class="container py-4" style="color: black;">
		<!-- Breadcrumb -->
		<nav class="d-flex">
		  <h6 class="mb-0">
			<a href="" class="text-white-50">Home</a>
			<span class="text-white-50 mx-2"> > </span>
			<a href="" class="text-white"><u>Shopping cart</u></a>
		  </h6>
		</nav>
		<!-- Breadcrumb -->
	  </div>
	</div>
	<!-- Heading -->
  </header>
  
  <!-- cart + summary -->
  <!-- cart + summary -->
<section class="bg-light my-5">
  <div class="container">
    <div class="row">
      <!-- cart -->
      <div class="col-lg-9">
        <div class="card border shadow-0">
          <div class="m-4">
            <h4 class="card-title mb-4">Your shopping cart</h4>
            <% cartItems.forEach(item => { %>
              <div class="row gy-3 mb-4">
                <div class="col-lg-5">
                  <div class="me-lg-5">
                    <div class="d-flex">
                      <img src="/productimg/<%= item.product.image %>" class="border rounded me-3" style="width: 96px; height: 96px;" />
                      <div class="">
                        <a href="#" class="nav-link">
                          <h3><%= item.product.name %></h3>
                        </a>
                        <p class="text-muted">Category: <%= item.product.category %></p>
                      </div>
                    </div>
                  </div>
                </div>


				


                <div class="col-lg-2 col-sm-6 col-6 d-flex flex-row flex-lg-column flex-xl-row text-nowrap">
                 

					<div class="d-flex">
						<div class="minus plus-minus" data-item-id="<%=item.product%>">
							<svg width="12" height="4" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink">
								<defs>
									<path
										d="M11.357 3.332A.641.641 0 0 0 12 2.69V.643A.641.641 0 0 0 11.357 0H.643A.641.641 0 0 0 0 .643v2.046c0 .357.287.643.643.643h10.714Z"
										id="a" />
								</defs>
								<use fill="#FF7E1B" fill-rule="nonzero" xlink:href="#a" />
							</svg>
						</div>
						<span id="" data-item-id="<%=item.product %>" class="amount">
							<%= item.quantity %>
						</span>
						<div class="plus plus-minus" data-item-id="<%=item.product%>">
							<svg width="12" height="12" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" id="plus">
								<defs>
									<path
										d="M12 7.023V4.977a.641.641 0 0 0-.643-.643h-3.69V.643A.641.641 0 0 0 7.022 0H4.977a.641.641 0 0 0-.643.643v3.69H.643A.641.641 0 0 0 0 4.978v2.046c0 .356.287.643.643.643h3.69v3.691c0 .356.288.643.644.643h2.046a.641.641 0 0 0 .643-.643v-3.69h3.691A.641.641 0 0 0 12 7.022Z"
										id="b" />
								</defs>
								<use fill="#FF7E1B" fill-rule="nonzero" xlink:href="#b" id="plus" />
							</svg>
						</div>
					</div>





                  <div class="">
                    <text class="h6">₹<%= item.product.price %></text> <br />
                  </div>
                </div>
                <div class="col-lg col-sm-6 d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center justify-content-xl-end mb-2">
                  <div class="float-md-end">
                    <a href="#!" class="btn btn-light border px-2 icon-hover-primary">
                      <i class="fas fa-heart fa-lg px-1 text-secondary"></i>
                    </a>
                    <a href="#" class="btn btn-light border text-danger icon-hover-danger"> Remove</a>
                  </div>
                </div>
              </div>
			  
            <% }); %>
          </div>
          <!-- Other cart details can be added here -->
        </div>
      </div>
      <!-- Other sections of the cart page can be added here -->
    </div>
  </div>
</section>

<!-- cart + summary -->

  <!-- cart + summary -->
  <section>
	<div class="container my-5">
	  <header class="mb-4">
		<h3>Recommended items</h3>
	  </header>
  
	  <div class="row">
		<div class="col-lg-3 col-md-6 col-sm-6">
		  <div class="card px-4 border shadow-0 mb-4 mb-lg-0">
			<div class="mask px-2" style="height: 50px;">
			  <div class="d-flex justify-content-between">
				<h6><span class="badge bg-danger pt-1 mt-3 ms-2">New</span></h6>
				<a href="#"><i class="fas fa-heart text-primary fa-lg float-end pt-3 m-2"></i></a>
			  </div>
			</div>
			<a href="#" class="">
			  <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/7.webp" class="card-img-top rounded-2" />
			</a>
			<div class="card-body d-flex flex-column pt-3 border-top">
			  <a href="#" class="nav-link">Gaming Headset with Mic</a>
			  <div class="price-wrap mb-2">
				<strong class="">$18.95</strong>
				<del class="">$24.99</del>
			  </div>
			  <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
				<a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
			  </div>
			</div>
		  </div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6">
		  <div class="card px-4 border shadow-0 mb-4 mb-lg-0">
			<div class="mask px-2" style="height: 50px;">
			  <a href="#"><i class="fas fa-heart text-primary fa-lg float-end pt-3 m-2"></i></a>
			</div>
			<a href="#" class="">
			  <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/5.webp" class="card-img-top rounded-2" />
			</a>
			<div class="card-body d-flex flex-column pt-3 border-top">
			  <a href="#" class="nav-link">Apple Watch Series 1 Sport </a>
			  <div class="price-wrap mb-2">
				<strong class="">$120.00</strong>
			  </div>
			  <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
				<a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
			  </div>
			</div>
		  </div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6">
		  <div class="card px-4 border shadow-0">
			<div class="mask px-2" style="height: 50px;">
			  <a href="#"><i class="fas fa-heart text-primary fa-lg float-end pt-3 m-2"></i></a>
			</div>
			<a href="#" class="">
			  <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/9.webp" class="card-img-top rounded-2" />
			</a>
			<div class="card-body d-flex flex-column pt-3 border-top">
			  <a href="#" class="nav-link">Men's Denim Jeans Shorts</a>
			  <div class="price-wrap mb-2">
				<strong class="">$80.50</strong>
			  </div>
			  <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
				<a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
			  </div>
			</div>
		  </div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6">
		  <div class="card px-4 border shadow-0">
			<div class="mask px-2" style="height: 50px;">
			  <a href="#"><i class="fas fa-heart text-primary fa-lg float-end pt-3 m-2"></i></a>
			</div>
			<a href="#" class="">
			  <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/10.webp" class="card-img-top rounded-2" />
			</a>
			<div class="card-body d-flex flex-column pt-3 border-top">
			  <a href="#" class="nav-link">Mens T-shirt Cotton Base Layer Slim fit </a>
			  <div class="price-wrap mb-2">
				<strong class="">$13.90</strong>
			  </div>
			  <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
				<a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
  <!-- Recommended -->
  
  <!-- Footer -->
  <footer class="text-center text-lg-start text-muted bg-primary mt-3">
	<!-- Section: Links  -->
	<section class="">
	  <div class="container text-center text-md-start pt-4 pb-4">
		<!-- Grid row -->
		<div class="row mt-3">
		  <!-- Grid column -->
		  <div class="col-12 col-lg-3 col-sm-12 mb-2">
			<!-- Content -->
			<a href="https://mdbootstrap.com/" target="_blank" class="text-white h2">
			  MDB
			</a>
			<p class="mt-1 text-white">
			  © 2023 Copyright: MDBootstrap.com
			</p>
		  </div>
		  <!-- Grid column -->
  
		  <!-- Grid column -->
		  <div class="col-6 col-sm-4 col-lg-2">
			<!-- Links -->
			<h6 class="text-uppercase text-white fw-bold mb-2">
			  Store
			</h6>
			<ul class="list-unstyled mb-4">
			  <li><a class="text-white-50" href="#">About us</a></li>
			  <li><a class="text-white-50" href="#">Find store</a></li>
			  <li><a class="text-white-50" href="#">Categories</a></li>
			  <li><a class="text-white-50" href="#">Blogs</a></li>
			</ul>
		  </div>
		  <!-- Grid column -->
  
		  <!-- Grid column -->
		  <div class="col-6 col-sm-4 col-lg-2">
			<!-- Links -->
			<h6 class="text-uppercase text-white fw-bold mb-2">
			  Information
			</h6>
			<ul class="list-unstyled mb-4">
			  <li><a class="text-white-50" href="#">Help center</a></li>
			  <li><a class="text-white-50" href="#">Money refund</a></li>
			  <li><a class="text-white-50" href="#">Shipping info</a></li>
			  <li><a class="text-white-50" href="#">Refunds</a></li>
			</ul>
		  </div>
		  <!-- Grid column -->
  
		  <!-- Grid column -->
		  <div class="col-6 col-sm-4 col-lg-2">
			<!-- Links -->
			<h6 class="text-uppercase text-white fw-bold mb-2">
			  Support
			</h6>
			<ul class="list-unstyled mb-4">
			  <li><a class="text-white-50" href="#">Help center</a></li>
			  <li><a class="text-white-50" href="#">Documents</a></li>
			  <li><a class="text-white-50" href="#">Account restore</a></li>
			  <li><a class="text-white-50" href="#">My orders</a></li>
			</ul>
		  </div>
		  <!-- Grid column -->
  
		  <!-- Grid column -->
		  <div class="col-12 col-sm-12 col-lg-3">
			<!-- Links -->
			<h6 class="text-uppercase text-white fw-bold mb-2">Newsletter</h6>
			<p class="text-white">Stay in touch with latest updates about our products and offers</p>
			<div class="input-group mb-3">
			  <input type="email" class="form-control border" placeholder="Email" aria-label="Email" aria-describedby="button-addon2" />
			  <button class="btn btn-light border shadow-0" type="button" id="button-addon2" data-mdb-ripple-color="dark">
				Join
			  </button>
			</div>
		  </div>
		  <!-- Grid column -->
		</div>
		<!-- Grid row -->
	  </div>
	</section>
	<!-- Section: Links  -->
  
	<div class="">
	  <div class="container">
		<div class="d-flex justify-content-between py-4 border-top">
		  <!--- payment --->
		  <div>
			<i class="fab fa-lg fa-cc-visa text-white"></i>
			<i class="fab fa-lg fa-cc-amex text-white"></i>
			<i class="fab fa-lg fa-cc-mastercard text-white"></i>
			<i class="fab fa-lg fa-cc-paypal text-white"></i>
		  </div>
		  <!--- payment --->
  
		  <!--- language selector --->
		  <div class="dropdown dropup">
			<a class="dropdown-toggle text-white" href="#" id="Dropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false"> <i class="flag-united-kingdom flag m-0 me-1"></i>English </a>
  
			<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="Dropdown">
			  <li>
				<a class="dropdown-item" href="#"><i class="flag-united-kingdom flag"></i>English <i class="fa fa-check text-success ms-2"></i></a>
			  </li>
			  <li><hr class="dropdown-divider" /></li>
			  <li>
				<a class="dropdown-item" href="#"><i class="flag-poland flag"></i>Polski</a>
			  </li>
			  <li>
				<a class="dropdown-item" href="#"><i class="flag-china flag"></i>中文</a>
			  </li>
			  <li>
				<a class="dropdown-item" href="#"><i class="flag-japan flag"></i>日本語</a>
			  </li>
			  <li>
				<a class="dropdown-item" href="#"><i class="flag-germany flag"></i>Deutsch</a>
			  </li>
			  <li>
				<a class="dropdown-item" href="#"><i class="flag-france flag"></i>Français</a>
			  </li>
			  <li>
				<a class="dropdown-item" href="#"><i class="flag-spain flag"></i>Español</a>
			  </li>
			  <li>
				<a class="dropdown-item" href="#"><i class="flag-russia flag"></i>Русский</a>
			  </li>
			  <li>
				<a class="dropdown-item" href="#"><i class="flag-portugal flag"></i>Português</a>
			  </li>
			</ul>
		  </div>
		  <!--- language selector --->
		</div>
	  </div>
	</div>
  </footer>
</body>
</html>
