<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WatchBox_Luxury Watches A Ecommerce Category Flat Bootstrap Resposive Website</title>
    <link href="/profile.css" rel="stylesheet" type="text/css" media="all" />	
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-ezr4pYcgF5XOwiiGDsywSGtkbYkoqF+6C3ZH4vlhj0IlxJ3G2x/CMK9HP2MXCGjl" crossorigin="anonymous">

<link rel="stylesheet" href="/admin/bootstrap.min.css" >
</head>
<body>
  <header>
    <!-- Jumbotron -->
    <div class="p-3 text-center bg-white border-bottom">
        <div class="container">
            <div class="d-flex justify-content-between">
                <div class="">
                    <h3>WatchBox</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->

    <!-- Heading -->
    <div class="bg-black">
        <div class="container py-4">
            <!-- Breadcrumb -->
            <nav class="d-flex">
                <h6 class="mb-0">
                    <a href="/" class="text-white-50">Home</a>
                    <span class="text-white-50 mx-2"> > </span>
                    <a href="/user/profile" class="text-white-50">Profile</a>
                    <span class="text-white-50 mx-2"> > </span>
                   
                </h6>
            </nav>
            <!-- Breadcrumb -->
        </div>
    </div>
    <!-- Heading -->
</header>


              
        
              <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                  <div class="card">
                      <div class="card-body">
                          <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://img.freepik.com/free-vector/follow-me-social-business-theme-design_24877-52233.jpg?w=740&t=st=1701337570~exp=1701338170~hmac=43684919b1e455acd20dda5be4d95d40fe2512175ed1e2b056bea522a6d0b580" alt="Admin" class="rounded-circle" width="150">

                              <div class="mt-3">
                                  <h3>Welcome <%= user.name %></h3>
                                  <h4></h4>
                                  <p class="text-secondary mb-1">Email:<%=user.email%></p>
                                  <span style="font-weight: 600; color: black; font-size: 1.2em;">Referral Code:<%=user.referral %></span>

                                  <p class="text-secondary mb-1">
                                      <i class="fa-shopping-bag" style="margin-right: 5px;"></i>
                                      <span style="font-weight: 600; color: black; font-size: 1.2em;">Wallet Amount:<%= walletAmount %></span>
                                  </p>
                                 
                                  <div class="col-sm-12">
                                      <div class="row">
                                          <a class="btn btn-info" href="/profile/wallet">Wallet</a>
                                      </div>
                                      <hr>
                                      <div class="row">
                                          <a class="btn btn-info" href="/user/profile/edit/<%=user._id%>">Edit Profile</a>
                                      </div>
                                      <hr>
                                     
                                    <div class="row">
                                      <a class="btn btn-info" href="/profile/addaddress">Add Address</a>
                                  </div>
                                      <hr>
                                      <div class="row">
                                        <a class="btn btn-info" href="/user/orders">Show Orders</a>
                                    </div>
                                      
                                      <hr>
                                      <div class="row">
                                        <a class="btn btn-info" href="/resetpassword">Reset Password</a>
                                    </div>
                                      
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <br>
              </div>
              
                <div class="col-md-8">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0"> Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <%=user.name%>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <%=user.email%>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Phone</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <%=user.phone%>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <% if (user.address && user.address.length > 0) { %>
                                <% const firstAddress = user.address[0]; %>
                                <%= firstAddress.houseName %>,
                                <%= firstAddress.street %>,
                                <%= firstAddress.city %>,
                                <%= firstAddress.state %>,
                                <%= firstAddress.pincode %>,
                                <%= firstAddress.country %>
                            <% } else { %>
                                No address found!Please add Address First
                            <% } %>
                        </div>
                    
                        <div class="row">
                            <div class="col-sm-12">
                                <% if (user.address && user.address.length > 0) { %>
                                    <a class="btn btn-info" href="/user/address/edit/<%= user._id %>">Edit Address</a>
                                <% } else { %>
                                    <button class="btn btn-info" disabled>Edit Address</button>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    
                    
                    </div>
                  </div>
    
    
    
    
                </div>
              </div>
    
            </div>
        </div>
</body>
</html>